@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --font-primary-1: "Open Sans", sans-serif;
  --clr-primary-1: #141414;
  --clr-primary-2: #696969;
  --clr-primary-3: #808080;

  --clr-secondary-1: #e50914;
}

p {
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  min-height: 100vh;
  background-color: var(--clr-primary-1);
  font-family: var(--font-primary-1);
}

.section-left {
  margin: 2rem 0 2.5rem 1rem;
}

@media screen and (min-width: 768px) {
  .section-left {
    margin: 2rem 0 3rem 3rem;
  }
}

.slide-left {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.slide-right {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.title-small {
  font-size: 1rem;
  color: white;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
  .title-small {
    font-size: 1.5rem;
  }
}

.loading {
  height: 7rem;
  display: grid;
  place-items: center;
}

@media screen and (min-width: 768px) {
  .loading {
    height: 10rem;
  }
}

.loader {
  border: 3px solid white;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  border-top: 3px solid black;
  -webkit-animation: loader 0.5s infinite ease-in-out;
  animation: loader 0.5s infinite ease-in-out;
}

@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.page {
  min-height: calc(100vh - 62.48px - 309.15px);
}
